body{
    background-color:white;
}

.container{
    padding: 2em;
}
img{
    padding: 2rem;
}

footer{
    background-color: rgb(5, 5, 5);
    color: white
}

.card{
    padding: 2rem;
    margin-bottom: 1em;
}